<%- include('./partials/header'); -%>

<main role="main">

        <section class="jumbotron text-center intro">
          <div class="container">
            <h1 class="jumbotron-heading">Dorm Dash</h1>
            <p class="lead text-muted intropara">Introducing DormDash, the ultimate tool for hostlers.</p>
          </div>
        </section>
  
        <div class="album py-5 bg-dark">
          <div class="container">
  
            <div class="row">
              <div class="col-md-4 box">
                <a href="#">
                <div class="card mb-4 box-shadow box1">
                  <div class="card-body">
                    <h1 class="card-text boxheading">Food Shops</h1>
                  </div>
                </div></a>
                </a>
              </div>
              <div class="col-md-4 box">
                <a href="/mess-menu">
                <div class="card mb-4 box-shadow box2">
                  <div class="card-body">
                    <h1 class="card-text boxheading">Mess Menu</h1>
                    
                  </div>
                </div></a>
              </div>
              <div class="col-md-4 box">
                <a href="">
                <div class="card mb-4 box-shadow box3">
                  <div class="card-body">
                    <h1 class="card-text boxheading">Contact Details</h1>
                  </div>
                </div></a>
              </div>
              </div>
            </body>
              </html>