.main{
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 5em;
}
a{
    text-decoration: none;
    color: white;
}
.main-heading{
    margin-top: 2em;
    text-align: center;
    font-family: 'Rubik Dirt', cursive;
}
.meal-heading{
    margin-top: 2em;
    font-family: 'Alfa Slab One', cursive;

}
.list-item{
    font-family: 'Oswald', sans-serif;
    font-size: larger;
    padding-bottom: 1em;
}
.bottom-text{
    margin-top: 2em;
    font-family: 'Alfa Slab One', cursive;
    
}
.bottom{
    text-align: center;
    margin-left: 4em;
    margin-bottom: 3em;
}